.textareaContainer {
  display: flex;
  align-items: stretch;
}

.lineNumbers {
  padding: 4px;
  font-family: monospace;
  background-color: #f7f7f7;
  user-select: none;
  overflow-y: auto;
  position: relative;
}

.lineNumbers div {
  text-align: right;
  color: #999;
  padding: 0 4px 0 0;
  line-height: 20px;
}

.textareaWithLineNumbers {
  position: relative;
  display: flex;
  flex-grow: 1;
}

.textareaWithLineNumbers textarea {
  outline: none;
  resize: none;
  font-size: 16px;
  font-family: monospace;
  line-height: 20px;
  overflow: hidden;
  display: flex; 
  flex-grow: 1;
  white-space: nowrap;
  overflow-x: auto;
}